:root {
    --bgcolor:  #4f4f4f;
    --color: #9f9;
    --hover:#00ff00;
    --colorPrincipale:#fff;
    --font-family:"Crimson Pro", serif;
    --banniere:#872c86;
    --opacity:0.75 ;
    --color1: #d40ea4;
    --black:black;
    --presta:#212529;
}

