{% extends 'base.html' %}

{% block title %} Login Tandegna  {% endblock %}

{% block content %}

{% block banniere %}
{% endblock %}

<div class="container">

{% if user.is_authenticated %}
  <h5 class="text-center">Vous êtes connecté en tant que que : {{user}} </h5><a  href="{% url 'home' %}" ><u><small> retournez-vous vers l'accueil</u></a></small>
    
{% else %}

    <div class="card">
  <div class="card-header text-center text-uppercase"><h1>Identification</h1></div> 
  <div class="card-body">
    <form class="row g-3 needs-validation" method="POST" action="{% url 'login_tandegna' %}" novalidate>{% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="btn btn-danger">
          <div class="row">
            <div class="col-md-11">
              <span style="color:whitesmoke">{{message}}</span>
            </div>
            <div class="col-md-1">
              <h5 style="color:whitesmoke">X</h5> 
            </div>
          </div>
      </div>
        {% endfor %}
      {% endif %}
  

     
  <div class="col-md-12 position-relative">

    <div>
    {% if form.username.errors %}
      {% for error in form.username.errors %}
      <span class="text-danger">{{error}}</span >
      {% endfor %}
      {% endif %}
    </div>
    <div class="form-outline">    
      {{form.username}}
      <label for="validationTooltip01" class="form-label">username</label>
      <div class="valid-tooltip">Looks good!</div>
    </div>
  </div>


  <div>
  <div class="col-md-12 position-relative">    
    <div>
      {% if form.password.errors %}
      {% for error in form.password.errors %}
      <small class="text-danger">{{error}}</small>
      {% endfor %}
      {% endif %}</div>
    <div class="form-outline">
      {{form.password}}
      <label for="validationTooltip02" class="form-label">Mot de passe</label>
      <div class="valid-tooltip">Looks good!</div>
    </div>
  </div>
<hr>
  <div class="col-md-12 position-relative">
    <button class="btn btn-primary col-md-12 position-relative" type="submit">Identifiez-vous</button>
  </div>
</form>
  </div>
</div>
{% endif %}

{% endblock %}
</div>