
{% extends 'baseArticle.html' %}
{% load static %}
{% block title %} Photo {% endblock %}


{% block breadcrum %}
{% if lastId %}
<li><a href=""> / Photo</a></li>
<li><a href="{% url 'stockArticle' lastId.id %}"> / Stock</a></li>
{% endif %}
{% endblock %}
{% block photo %}<button class="tablink">  Photo-View : </button>{% endblock %}
{% block content %}

{% if user.is_authenticated %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show">    
                  <strong> {{ message.tags }}</strong> {{ message }}
                  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                

                {% if lastId %}
                  <div class=" form-control text-primary" style="background-color: aquamarine;">
                    <h5 style="color:blueviolet">Telechargement des images:</h5>
  
                    <div class="col-md-4">
                      <form method="POST" action="{% url "ArticlePhotoView" lastId.id %}"  enctype="multipart/form-data">{% csrf_token %}
                        <input type="text" name="lastId" value="{{lastId.id}}">
                        {{form.image1}}
                        {{form.image2}}
                        {{form.image3}}
                        {{form.image4}}                        
                        <button class="btn btn-primary" type="submit">enregistrer</button>
                       
                      </form>
                  </div>
                  

               {% endif %}
              

                
{% endif %}

<!-- File input field -->

<!-- Image preview -->


{% endblock %}