{% extends 'base.html' %}

{% load static %}


{% block title %}Accueil{% endblock  %}

{% block content %}
<div class="row">
  <option value=""><a href="">10</a>  </option>

  {% for article in liste_articles %}


  <div class="col-md-4">

    
    
    <div class="card" style="top:20px;">
      {% if article.options == "Demande" %}
      <a href="{% url 'home'%}{{article.id}}"><h1 style="color:rgb(127, 255, 148)">{{article.options}}</h1></a>
      {% else %}
      <a href="{% url 'home'%}{{article.id}}"><h1 style="color:brown">{{article.options}}</h1></a>
      {% endif %}
      <hr>

      <div id="photo_id">
        {% for images in image %}
        <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="3" aria-label="Slide 4"></button>
          </div>

                {% if  images.article_id == article.id %}

                      <div class="carousel-inner">

                        <div class="carousel-item active">
                          <img id="img" src="{% static 'media/'%}{{images.image2}}" class="d-block w-100" alt="Wild Landscape"/>
                        </div>
                        
                        <div class="carousel-item">
                          <img id="img" src="{% static 'media/'%}{{images.image1}}" class="d-block w-100" alt="Camera"/>
                        </div>

                        <div class="carousel-item">
                          <img id="img" src="{% static 'media/'%}{{images.image3}}" class="d-block w-100 " alt="Exotic Fruits"/>
                        </div>

                        <div class="carousel-item">
                          <img id="img" src="{% static 'media/'%}{{images.image4}}" class="d-block w-100 " alt="Exotic Fruits"/>
                        </div>

                        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                      </div>

                {% endif %}

        </div>
        {% endfor %}
      </div>

      
      <div class="car-body">

        <h3 class="card-title">{{article.titre|title}}</h3>
        <span>{{article.description|truncatechars:120}}<a href="details_tandegna{% url 'home'%}{{article.id}}"><i><u>plus details</u></i></a></span><br>
        <small style="color:rgb(243, 42, 7)">{{article.created_by}}</small><br>
        <a href="{% url "cart" %}"><button class="btn btn-primary">commander</button></a>

      </div>

    </div>    
  </div>
  {% endfor %}
</div>

<hr>

<di class="row">
  <div class="col-md-4">
    <nav aria-label="">
      {% if liste_articles.has_other_pages  %}
      <ul class="pagination pagination-circle">
        {% if liste_articles.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{liste_articles.previous_page_number}}"><span>Précedent</span></a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="">précedent</a>
        </li>
      {% endif %}
        {% for i in liste_articles.paginator.page_range %}
        {% if class.number == i %}
        <li class="page-item"><a class="page-link active" href="#">{{i}} <span class="visually-hidden">(current)</span></a></li>
        {% else %}
        <li class="page-item"><a class="page-link  " href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
    
        {% if liste_articles.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ liste_articles.next_page_number }}">suivant</a>
        </li>
        {% else %}
        <li class="page-item disabled ">
          <a class="page-link" href="">suivant</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
  </div>
</div>

{% endblock %}
