
{% extends 'baseArticle.html' %}

{% block breadcrum %}

<a href="{% url 'insertion_du_produit_edit' %}">| Produits</a>
{% if lastId %}<a href="insertion_du_produit/ArticlePhotoView/{{lastId}}">| Photo</a>{% endif %}
{% if lastId %}<a href="stockArticle{% url 'insertion_du_produit' %}{{lastId}}">| Photo</a>{% endif %}



{% endblock %}

{% block content %}

<h3 class="center">Produit:</h3>
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show">    
    <strong> {{ message.tags }}</strong> {{ message }}
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endfor %}


              <form method="POST" action="{% url 'insertion_du_produit' %}" class="row g-3 needs-validation"  novalidate>{% csrf_token %}
              <input type="hidden" name="user_id" value="{{user.id}}">
              <div class="col-md-12 position-relative">
                <label>Titre:</label>
                  {{form.titre}}
              </div>

              <div class="col-md-2">      
                <label>Options</label>{{form.options}}      
                <div class="invalid-tooltip">Demande ou Offre?</div>
            </div>

            <div class="col-md-2">
                <label id="r_lbl">Prix:<i class="fas fa-exclamation-circle trailing"></i></label>{{form.prix}} 
              </div>

              <div class="col-md-2">
                <label>Categories :</label> {{form.type}}
              </div>

              <div class="col-md-2">
                <label id="lbl">Race:</label>{{form.race}}
                
              </div>

              <div class="col-md-2 position-relative">
                  <label>Ages :</label>{{form.ages}}      
                  
              </div>
            
              <div class="col-md-12">
                <label>Description :</label>
                  {{form.description}}
              </div>

              <div></div>
                <div class="col-md-2">
                    <label>Poids (/kg):</label>{{form.poids}}
                </div>
            
                <div class="col-md-2">
                    <label id="r_lbl">Telephone 1 :<i class="fas fa-exclamation-circle trailing"></i></label>{{form.telephone}} 
                  </div>

                  <div class="col-md-2 position-relative">
                    <label id="r_lbl">Telephone 2 :<i id="telephone" class="fas fa-exclamation-circle trailing"></i></label>{{form.telephoneB}} 
                  </div>


                <div class="col-md-2 position-relative">
                    <label id="r_lbl">Regions:</i></label>{{form.regions}} 
                </div>

                <div class="col-md-3 position-relative">
                  <label id="r_lbl">District:</i></label>{{form.district}} 
                </div>
                <div class="col-md-3 position-relative">
                  <label id="r_lbl">Communes:<i id="communes" class="fas fa-exclamation-circle trailing"></i></label>{{form.communes}} 
                </div>


                <div class="col-md-4 position-relative">
                  <label id="r_lbl">Adresse Complet:<i id="adresseComplet" class="fas fa-exclamation-circle trailing"></i></label>{{form.adresseComplet}} 
                </div>

                <div class="col-md-12">
                  <button class="btn btn-primary" type="submit">valider</button>
                </div>
              </form>
 
            


  
{% endblock %}

{% block footer %}

{% endblock %}
